@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "optima";
    src: url("/fonts/optima-regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "optima";
    src: url("/fonts/optima-bold.ttf") format("ttf");
    font-weight: 700;
    font-style: bold;
    font-display: swap;
}

@font-face {
    font-family: "optima";
    src: url("/fonts/optima-medium.ttf") format("ttf");
    font-weight: 500;
    font-style: medium;
    font-display: swap;
}

@font-face {
    font-family: "optima";
    src: url("/fonts/optima-italic.ttf") format("ttf");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

:root {
    --background-color: #fffcf3;
    --dark-red: #620f1b;
    --light-red: #b9736f;
}

body {
    background-color: var(--background-color);
    font-family: optima, sans-serif;
}

p {
    margin-bottom: 1rem;
    font-style: normal;
}

h3 {
    font-weight: 700;
    color: var(--dark-red);
    text-transform: uppercase;
    margin-bottom: 3rem;
    font-weight: 700;
}

h4 {
    color: black;
    font-weight: 700;
    margin: 3rem 0 2rem;
}

a {
    cursor: pointer;
}

p,
h3,
h4,
li {
    position: relative;
    z-index: 100;
    font-size: 40px;
}

.coaching {
    color: #620f1b;
}

.formazione {
    color: #996752;
}

.sviluppo {
    color: #cac2a1;
}

.story-telling {
    color: #39455a;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
 */
